.Button {
  border-radius: 999px;
  background-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: fit-content;
  border-width: 1px;
  border-style: solid;
  border-color: $black;

  @include responsive-map(
    (
      padding-top: 10,
      padding-bottom: 10,
      padding-right: 32,
      padding-left: 32,
      gap: 8,
    )
  );

  span {
    line-height: 1;
  }

  &--icon {
  }

  .Icon {
    transition: all 300ms $ease-in-out;
  }

  &--variant {
    &-black {
      border-color: $black;
    }

    &-white {
      border-color: $white;
      span {
        color: $white;
      }
    }
  }

  &:hover {
    .Icon {
      transform: scale(0.75) rotateZ(90deg);
    }
  }
}
