.Button {
  border-radius: 999px;
  border: 1px solid $black;
  background-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: fit-content;
  
  @include responsive-map(
    (
      padding-top: 10,
      padding-bottom: 10,
      padding-right: 32,
      padding-left: 32,
      gap: 8,
    )
  );

  span {
    line-height: 1;
  }

  &--icon {
  }

  .Icon {
    transition: all 300ms $ease-in-out;
  }
  &:hover {
    .Icon {
      transform: scale(0.75) rotateZ(90deg);
    }
  }
}
