.Container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;

  @include responsive-map(
    (
      max-width: (
        md: 1100,
      ),
    )
  );

  &--full {
    max-width: none;
  }

  &--padding-x {
    @include responsive-map(
      (
        padding-right: (
          xs: 16,
          lg: 0,
        ),
        padding-left: (
          xs: 16,
          lg: 0,
        ),
      )
    );
  }

  &--padding-y {
    @include responsive-map(
      (
        padding-top: (
          xs: 48,
          lg: 80,
        ),
        padding-bottom: (
          xs: 48,
          lg: 80,
        ),
      )
    );
  }
}
