$black: #363436;
$blue: #60a4fc;
$orange: #d95a40;
$pink: #e27878;
$white: #fff;

$linear-gradient: linear-gradient(90deg, $pink 0%, $blue 100%);

$colors: (
  black: $black,
  blue: $blue,
  orange: $orange,
  pink: $pink,
  white: $white,
);
