/*
* Montreal
*/

@font-face {
  font-family: 'montreal';
  src: url('fonts/Montreal/Montreal_Light.otf') format('opentype'),
    url('fonts/Montreal_Light.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'montreal';
  src: url('fonts/Montreal/Montreal_Regular.otf') format('opentype'),
    url('fonts/Montreal_Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'montreal';
  src: url('fonts/Montreal/Montreal_Medium.otf') format('opentype'),
    url('fonts/Montreal_Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'montreal';
  src: url('fonts/Montreal/Montreal_Bold.otf') format('opentype'),
    url('fonts/Montreal_Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

/*
* Archia
*/

@font-face {
  font-family: 'archia';
  src: url('fonts/Archia/Archia_Light.woff') format('woff'),
    url('fonts/Archia_Light.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'archia';
  src: url('fonts/Archia/Archia_Regular.woff') format('woff'),
    url('fonts/Archia_Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'archia';
  src: url('fonts/Archia/Archia_Medium.woff') format('woff'),
    url('fonts/Archia_Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'archia';
  src: url('fonts/Archia/Archia_Semibold.woff') format('woff'),
    url('fonts/Archia_Semibold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}