@import 'reset-css';
@import './fonts';

@media screen and (orientation: landscape) {
  :root {
    --layoutWidth: 1280;
    --layoutHeight: 800;
  }
}

@media screen and (orientation: portrait) {
  :root {
    --layoutWidth: 800;
    --layoutHeight: 1280;
  }
}

@each $configKey, $configValue in $screenConfig {
  $breakpoint: map-get($configValue, breakpoint);
  $width: map-get($configValue, width);

  @if (map-get($configValue, breakpoint) == null) {
    :root {
      --layoutWidth: #{$width};
    }
  } @else {
    @include respond-to('(min-width: #{$breakpoint}px)') {
      :root {
        --layoutWidth: #{$width};
      }
    }
  }
}

* {
  outline: none;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  font-family: $montreal, sans-serif;

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  &::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
  &::-webkit-scrollbar-thumb {
    background: $blue;
    border: 0px none transparent;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: $blue_dark;
  }
  &::-webkit-scrollbar-thumb:active {
    background: $black;
  }
  &::-webkit-scrollbar-track {
    background: $white;
    border: 0px none $white;
  }
  &::-webkit-scrollbar-track:hover {
    background: #e8e8e8;
  }
  &::-webkit-scrollbar-track:active {
    background: #f9eae1;
  }
  &::-webkit-scrollbar-corner {
    background: transparent;
  }
}

#root {
  width: 100svw;
  height: 100svh;
  overflow: auto;
}
