$HEADER_SIZE: 80;
$HEADER_SIZE_LARGE: 60;

.Header {
  width: 100svw;
  background: rgb(255, 255, 255);
  background: $glass-gradient;
  border: 1px solid rgba(255, 255, 255, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  backdrop-filter: $glass-blur;
  filter: drop-shadow(0px 20px 35px rgba(0, 0, 0, 0.1));

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  @include responsive-map(
    (
      padding-right: (
        xs: 16,
        lg: 80,
      ),
      padding-left: (
        xs: 16,
        lg: 80,
      ),
      height: (
        xs: $HEADER_SIZE,
        md: $HEADER_SIZE_LARGE,
      ),
    )
  );

  &__logo {
    position: relative;

    @include responsive-map(
      (
        height: (
          xs: 58,
          xl: 36,
        ),
      )
    );

    img {
      height: 100%;
      width: auto;

      &.small {
        display: block;

        @include respond-to($lg) {
          display: none;
        }
      }

      &.full {
        display: none;

        @include respond-to($lg) {
          display: block;
        }
      }
    }
  }

  &__navbar {
    top: 0;
    left: 0;
    height: 100%;
    transition: all 300ms $ease-in-out;

    &__list {
      height: 100%;
      align-items: center;

      @include responsive-map(
        (
          display: (
            xs: none,
            lg: flex,
          ),
          gap: 32,
        )
      );

      p {
        line-height: 1;
        transition: all 300ms;
        cursor: pointer;

        @include responsive-map(
          (
            padding-top: 16,
            padding-bottom: 16,
          )
        );

        &:hover {
          opacity: 0.75;
        }
      }
    }
  }

  &__button {
    @include responsive-map(
      (
        display: (
          xs: block,
          lg: none,
        ),
      )
    );
  }
}

.HeaderMobileMenu {
  position: fixed;
  z-index: 100;
  background: rgb(255, 255, 255);
  background: $glass-gradient;
  height: calc(100svh - px-to-vw($HEADER_SIZE));
  width: 100svw;
  backdrop-filter: $glass-blur;
  filter: drop-shadow(0px 20px 35px rgba(0, 0, 0, 0.1));
  transform: translateX(100%);
  transition: all 400ms $ease-in-out;

  @include responsive-map(
    (
      top: (
        xs: $HEADER_SIZE,
      ),
    )
  );

  &--open {
    transform: none;
  }

  li {
    @include responsive-map(
      (
        padding-top: 16,
        padding-bottom: 16,
      )
    );
    transition: all 300ms $ease-in-out;
    border-bottom: 1px solid $white;

    &:first-child {
      @include responsive-map(
        (
          padding-top: 32,
        )
      );
    }

    &:hover {
      @include responsive-map(
        (
          padding-left: 16,
        )
      );

      p {
        color: $blue_dark;
      }
    }
    p {
      transition: all 300ms;
    }
  }
}
