.Footer {
  &__wrapper {
    background: $linear-gradient;
    display: flex;

    @include responsive-map(
      (
        padding-top: 55,
        padding-bottom: 55,
        gap: 32,
      )
    );

    img {
      filter: invert(1);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;

    @include responsive-map(
      (
        align-items: (
          xs: center,
          md: flex-start,
        ),
        gap: 64,
      )
    );

    img {
      @include responsive-map(
        (
          height: 48,
        )
      );
    }

    &__list {
      display: flex;
      width: 100%;

      @include responsive-map(
        (
          width: (
            xs: #{100%},
            md: auto,
          ),
          flex-direction: (
            xs: column,
            md: row,
          ),
          gap: 64,
        )
      );

      > div {
        display: flex;
        flex-direction: column;
        width: 100%;

        @include responsive-map(
          (
            gap: 8,
          )
        );

        h3 {
          border-bottom: 1px solid rgba(255, 255, 255, 0.4);

          @include responsive-map(
            (
              padding-bottom: 8,
            )
          );
        }

        h4 {
          opacity: 0.75;
          cursor: pointer;
          transition: all 300ms;

          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }

  &__wrights {
    background: $white;
    display: flex;

    @include responsive-map(
      (
        padding-top: 24,
        padding-bottom: 24,
      )
    );

    &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include responsive-map(
        (
          flex-direction: (
            xs: column,
            md: row,
          ),
          gap: 32,
        )
      );

      P {
        line-height: 1;
      }

      ul {
        display: flex;

        @include responsive-map(
          (
            gap: 80,
          )
        );
      }
    }
  }
}
