.HomeView {
  width: 100%;

  &__banner {
    height: 100vh;
    background-color: red;
    overflow: hidden;
    position: relative;

    $BORDER_RADIUS_MOBILE: 40;
    $BORDER_RADIUS_DESKTOP: 60;

    @include responsive-map(
      (
        border-bottom-right-radius: (
          xs: $BORDER_RADIUS_MOBILE,
          md: $BORDER_RADIUS_DESKTOP,
        ),
        border-bottom-left-radius: (
          xs: $BORDER_RADIUS_MOBILE,
          md: $BORDER_RADIUS_DESKTOP,
        ),
      )
    );

    &__background {
      position: absolute;
      width: 100%;
      height: 100%;

      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__content {
      position: absolute;
      background: rgba($white, 0.4);
      backdrop-filter: blur(10px) blur(20px) blur(30px);
      filter: drop-shadow(0px 20px 38px rgba(0, 0, 0, 0.4));
      top: 50%;
      transform: translateY(-50%);

      @include responsive-map(
        (
          width: 696,
          padding: 32,
          border-radius: 32,
          right: 14,
        )
      );
    }
  }

  &__stickers {
    display: flex;
    flex-direction: column;

    @include responsive-map(
      (
        padding-top: 64,
        padding-bottom: 32,
        gap: 32,
      )
    );

    &__button {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }

  &__frequency {
    display: flex;

    @include responsive-map(
      (
        padding-top: 80,
        padding-bottom: 80,
      )
    );

    &__content {
      display: flex;
      flex-direction: column;

      h2 {
        @include responsive-map(
          (
            margin-bottom: 24,
            width: 699,
          )
        );
      }
      p {
        @include responsive-map(
          (
            max-width: 539,
            margin-bottom: 80,
          )
        );
      }

      &__features {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        @include responsive-map(
          (
            width: 466,
            row-gap: 32,
            column-gap: 94,
          )
        );
      }
    }

    &__banner {
      display: flex;
      flex-direction: column;

      @include responsive-map(
        (
          gap: 36,
        )
      );

      &__image {
        @include responsive-map(
          (
            width: 401,
            height: 439,
            border-radius: 32,
          )
        );
        background-color: red;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &__badges {
        display: flex;
        justify-content: space-between;

        @include responsive-map(
          (
            padding-right: 16,
            padding-left: 16,
          )
        );
      }
    }
  }

  &__future {
    display: flex;
    justify-content: space-between;
    @include responsive-map(
      (
        padding-top: 80,
        padding-bottom: 80,
      )
    );
    &__banner {
      @include responsive-map(
        (
          width: 401,
          height: 439,
          border-radius: 32,
        )
      );
      background-color: red;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      @include responsive-map(
        (
          width: 540,
          gap: 32,
        )
      );
    }
  }
}
